/* ===== Webサイト全体のスタイル ===== */
/* html */
html {
  height: 100%;
}

/* body */
body {
  font-family: sans-serif;
  height: 100%;
  margin: 0;
}

/* h1見出し */
h1 {
  color: #000000;/* フォントの色 */
  font-size: 90px;/* フォントの大きさ */
  font-family: lobster;/* フォントの種類 */
  border-style: solid;/* 線の種類 */
  border-color: pink;/* 線の色 */
  border-width: 10px;/* 線の太さ */
  text-align: center;/* 文字・画像を中央にそろえる */
  border-radius: 90px;/* 枠線の角丸 */
  padding: 20px;/* 内側の余白 */
  margin: 30px;/* 外側の余白 */
  filter: drop-shadow(0 0 5px crimson);

}

/* ===== ヘッダーのスタイル ===== */
/* ヘッダーの箱 */
.top {
   background-size: cover;
  background-image: url(https://toda.org/assets/images/global-outlook/global-outlook-nuclear-prohibition-journey-cover.jpg);/* 背景画像 */
  height: 450px;/* 高さ */
  padding-top: 150px;/* 上がわの余白 */
 
}


/* ===== お店紹介のスタイル ===== */
/* セクション */
.shop {
  background-color: #ffffee;/* 背景の色 */
  color: #663300;
  padding: 30px;
}

/* h2見出し */
.title {
  font-size: 30px;
  border-left-style: solid;
  border-left-width: 10px;
  padding-left: 15px;
  margin-bottom: 50px;
}

/* 段落 */
.shop p {
  font-size: 20px;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 30px;
  height: 300px;
}

/* 画像 */
.shop img {
  clear: right;/* 画像や箱の回り込み */
}


/* ===== パン紹介のスタイル ===== */
/* セクション */
.photo {
  padding: 10px;
  background-image: url(https://beiz.jp/images_T/wood-texture/wood-texture_00004.jpg);
  background-size: cover;
}

/* h2見出し */
.photo h2 {
  color: #ffffff;
  border-color: #ffcc11;
}

/* h3見出し */
.photo h3 {
  color: #663300;
}

/* 段落 */
.photo p {
  color: #ffffff;
  clear: left;/* 画像や箱の回り込みをやめる */
}

.photo div {
  background-color: #ffffff;
  width: 280px;/* 横幅を指定する */
  padding: 15px;
  float: left;
  margin: 10px;
  box-shadow: 10px 10px 20px #000000;/* 影を指定する */
}

a img { width:300px; height:150px; transition:all 0.5s; -webkit- transition:all 0.5s; }
a:hover img { transform:scale(320px, 160px) }



@charset "utf-8";

/*========= LoadingのためのCSS ===============*/

/* Loading背景画面設定　*/
#splash {
    /*fixedで全面に固定*/
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 999;
  text-align:center;
  color:#fff;
}

/* Loading画像中央配置　*/
#splash_text {
  position: absolute;
  top: 50%;
  left: 50%;
    z-index: 999;
  transform: translate(-50%, -50%);
  color: #fff;
  width: 100%;
}

/*IE11対策用バーの線の高さ※対応しなければ削除してください*/
#splash_text svg{
    height: 2px;
}

/*割れる画面のアニメーション*/
.loader_cover {
    width: 100%;
    height: 50%;
    background-color: #333;
    transition: all .2s cubic-bezier(.04, .435, .315, .9);
    transform: scaleY(1);
}
/*上の画面*/
.loader_cover-up {
    transform-origin: center top;
}

/*下の画面*/
.loader_cover-down {
    position: absolute;
    bottom: 0;
    transform-origin: center bottom;
}
/*クラス名がついたらY軸方向に0*/
.coveranime {
    transform: scaleY(0);
}

/*========= レイアウトのためのCSS ===============*/


#container{
    width:100%;
    height: 100vh;
    background: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

a{
    color: #333;
}

a:hover{
     text-decoration: none;   
}

@charset "utf-8";

/*========= 途中からハンバーガーメニューに変化するのためのCSS ===============*/

/*========= ボタンのためのCSS ===============*/

/*ボタン全体の形状*/
.openbtn1{
    /*はじめは非表示に*/
  display: none;
    /*ボタンの位置*/
  position:fixed;
  top:10px;
  right: 10px;
  z-index: 999;
    /*ボタンの形状*/
  background:#666;
  cursor: pointer;
    width: 50px;
    height:50px;
  border-radius: 5px;
}

/*ボタンのアイコン設定*/
.openbtn1 span{
    display: inline-block;
    transition: all .4s;
    position: absolute;
    left: 14px;
    height: 3px;
    border-radius: 2px;
  background-color: #fff;
    width: 45%;
  }

.openbtn1 span:nth-of-type(1) {
  top:15px; 
}

.openbtn1 span:nth-of-type(2) {
  top:23px;
}

.openbtn1 span:nth-of-type(3) {
  top:31px;
}

/*activeクラスが付与された後のボタンのアイコン設定*/
.openbtn1.active span:nth-of-type(1) {
    top: 18px;
    left: 18px;
    transform: translateY(6px) rotate(-45deg);
    width: 30%;
}

.openbtn1.active span:nth-of-type(2) {
  opacity: 0;
}

.openbtn1.active span:nth-of-type(3){
    top: 30px;
    left: 18px;
    transform: translateY(-6px) rotate(45deg);
    width: 30%;
}

/*fadeDownクラスが付与された後のボタンの出現アニメーション設定*/
.fadeDown {
    animation-name: fadeDownAnime;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    opacity: 0;
    display: block;
}
@keyframes fadeDownAnime{
  from {
    opacity: 0;
  transform: translateY(-100px);
  }

  to {
    opacity: 1;
  transform: translateY(0);
  }
}


/*========= ヘッダーナビゲーションのためのCSS ===============*/

/*==ヘッダーの形状*/
#header{
  height: 70px;
  width:100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background:#333;
  color:#fff;
  text-align: center;
  padding: 20px;
}

/*.doneクラスがついたヘッダー*/
#header.dnone {
  opacity: 0;/*透過0にして非表示に*/
}

/*メニューボタンをクリックした際に付与されるpanelactiveクラスがついたら*/
#header.dnone.panelactive {
  opacity: 1;/*不透明にして出現*/
}


/*==ヘッダーのテキストナビゲーションの形状*/
#g-navi ul{
  list-style: none;
  display: flex;
  justify-content: center;
}

#g-navi ul li a{
  display: block;
  text-decoration: none;
  color: #666;
  padding:10px;
}

#g-navi ul li.current a,
#g-navi ul li a:hover{
  color:#fff; 
}

/*.doneクラスがついたヘッダーのテキストナビゲーションの形状*/
#header.dnone #g-navi{
    /*固定位置にして最背面に*/
    position:fixed;
  top: 0;
    left: 0;
  z-index: -1;
    /*高さと幅*/  
  width:100%;
  height: 100vh;
    /*天地中央＆テキスト中央揃え*/  
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
    /*はじめは透過0に*/  
    opacity: 0;
  transition: all 0.4s;
}

/*メニューボタンをクリックした際に付与されるpanelactiveクラスがついたナビゲーションの形状*/
#header.dnone.panelactive #g-navi{
  opacity: 1;/*不透明に*/
  z-index:3;/*最前面に*/
  background:#eee;
}

#header.dnone.panelactive #g-navi ul{
  display:block;/*flexの横並びをblockにして縦並びに*/
}


/*リストの形状*/

#header.dnone.panelactive #g-navi li a{
  color: #333;
  text-decoration: none;
  padding:10px;
  display: block;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: bold;
  transition:all 0.3s;
}


@charset "utf-8";

/*========= ページトップのためのCSS ===============*/

/*リンクの形状*/
#page-top a{
  display: flex;
  justify-content:center;
  align-items:center;
  background:#942D2F;
  border-radius: 5px;
  width: 60px;
  height: 60px;
  color: #fff;
  text-align: center;
  text-transform: uppercase; 
  text-decoration: none;
  font-size:0.6rem;
  transition:all 0.3s;
}

#page-top a:hover{
  background: #777;
}

/*リンクを右下に固定*/
#page-top {
  position: fixed;
  right: 10px;
  bottom:10px;
  z-index: 2;
    /*はじめは非表示*/
  opacity: 0;
  transform: translateY(100px);
}

/*　上に上がる動き　*/

#page-top.UpMove{
  animation: UpAnime 0.5s forwards;
}
@keyframes UpAnime{
  from {
    opacity: 0;
  transform: translateY(100px);
  }
  to {
    opacity: 1;
  transform: translateY(0);
  }
}

/*　下に下がる動き　*/

#page-top.DownMove{
  animation: DownAnime 0.5s forwards;
}
@keyframes DownAnime{
  from {
    opacity: 1;
  transform: translateY(0);
  }
  to {
    opacity: 1;
  transform: translateY(100px);
  }
}

/*========= レイアウトのためのCSS ===============*/

small{
  background:#333;
  color:#fff;
  display: block;
  text-align: center;
  padding:20px;
}


section:nth-child(2n){
  background:#f3f3f3; 
}

#footer{
  position: relative;
  z-index: 2;
}



section:nth-child(2n){
  background:#f3f3f3; 
}

#footer{
  position: relative;
  z-index: 2;
}


#header{
  height: 70px;/*高さ指定*/
  width:100%;/*横幅指定*/
  /*以下はレイアウトのためのCSS*/
  display: flex;
  justify-content: space-between;
  align-items: center;
  background:#333;
  color:#fff;
  text-align: center;
  padding: 20px;
}

element.style {
}
#header {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}
#header {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}
#header {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}
ユーザー エージェント スタイルシート
header {
    display: block;
}
body {
    font-family: sans-serif;
    height: 100%;
    margin: 0;
}

#header.fixed {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
}
element.style {
}
#footer {
    position: relative;
    z-index: 2;
}
article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
    display: block;
}
* {
    padding: 0;
    margin: 0;
}
*, ::before, ::after {
    background-repeat: no-repeat;
    box-sizing: inherit;
}
ユーザー エージェント スタイルシート
footer {
    display: block;
}
html {
    box-sizing: border-box;
    overflow-y: scroll;
    -webkit-text-size-adjust: 100%;
}
::before, ::after {
    text-decoration: inherit;
    vertical-align: inherit;
}
*, ::before, ::after {
    background-repeat: no-repeat;
    box-sizing: inherit;
}
::before, ::after {
    text-decoration: inherit;
    vertical-align: inherit;
}
*, ::before, ::after {
    background-repeat: no-repeat;
    box-sizing: inherit;
}
::selection {
    background-color: #b3d4fc;
    color: #000;
    text-shadow: none;
}
